<div class="wrapper-header">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <ul class="menu-header">
                <li>Abre su cuenta</li>
                <li>Fondos de inversión</li>
                <li>Bancos</li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <form [formGroup]="formLogin">
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <div class="form-check">
                            <label class="form-check-label" for="autoSizingCheck2">
                                <b>Accede</b> a su cuenta
                            </label>
                            <input type="text" class="form-control" id="inlineFormInputName"
                                placeholder="Escriba su DNI">
                        </div>
                    </div>
                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-primary iniciar-sesion">Iniciar sesión</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>