<div class="wrapper-header">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <ul class="menu-header">

                <!-- <li><a href="" target="_blank"><b>Home</b></a></li>
                <li><a href="stock-exchange" target="_blank"><b>Stock Exchange</b></a></li>
                <li><a href="banks" target="_blank"><b>Banks</b></a></li>
                <li><a href="banks" target="_blank"><b>Fondos de Inversioń</b></a></li>
                <li><a href="registro-clientes" target="_blank"><b>Registrarse</b></a></li> -->

                <li><a href=""><b>Home</b></a></li>
                <li><a href="stock-exchange"><b>Stock Exchange</b></a></li>
                <li><a href="banks"><b>Banks</b></a></li>
                <li><a href="banks"><b>Fondos de Inversioń</b></a></li>
                <li><a href="registro-clientes"><b>Registrarse</b></a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="position-login">
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>