mat-card {
    // height: 300px;
    // height: 150px;
    // height: 220px;
    height: 200px;
    background-color: #dcbc81f5;
}
h3,
p,
b {
    font-family: 'Montserrat', sans-serif;
}

.custom-height {
    height: 50vh;
}
.area-logueada {
    height: 15vh;
    padding: 30px;
    background: #dcbc81;
    color: #fff;
    box-shadow: 0 2px 5px -2px grey;
}