<div class="container custom-height">
  <div class="row mt-3">
    <div class="col-sm">
      <mat-card>
        <h3>Cuenta curriente</h3>
        <p>Dados da conta</p>
        <!-- <ul>
          <li>Agencia: 089898</li>
          <li>Conta: 09090900-5</li>
        </ul>
        <p>Saldo disponível <b>€ {{saldoCliente}}</b></p>
        <p class="text-center"><b>Adicionar valor a conta</b></p> -->
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <h3>Cartón de crédito</h3>
        <p>Consulte las ofertas</p>
        <!-- <ul>
          <li>Limte <b>R$ {{limeteCliente}}</b></li>
          <li>Saldo parcial <b>R$ {{saldoParcial}}</b></li>
          <li>Valor parcela: <b>R$ {{valorParcela}}</b></li>
        </ul> -->
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <h3>Fondos de Inversíon</h3>
        <h5>Saldo bruto</h5>
        <!-- <i class="material-icons logo-investimentos">
          monetization_on
        </i>
        <h4 class="text-center"><b>€ {{saldoBruto}}</b></h4> -->
        <p class="text-center"><b>Invertir</b></p>
      </mat-card>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm">
      <mat-card>
        <h3>Préstamos</h3>
        <p class="text-center mt-5">Todavia no está disponible los préstamos para usted,solite no link de abajo</p>
        <p class="text-center">Solicitar préstamo</p>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <h3>Poupança</h3>
        <i class="material-icons poupanca-logo">
          redeem
        </i>
        <h4 class="text-center"><b>€ {{saldoPoupanca}}</b></h4>
        <p class="text-center">Guardar dinheiro</p>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <h3>Cuentas</h3>
        <div class="row">
          <div class="col-sm">
            Transferencias
          </div>
          <div class="col-sm">
            Cartón
          </div>
          <div class="col-sm">
            Pagamentos
          </div>
          <div class="col-sm">
            Utilidades
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="mt-3"></div>
  <h1>Bienvenido {{nameCliente}}</h1>
</div>