<!-- <h1>Aún no estás dado de alta</h1>
modal-not-registro works! -->
<!-- <h1 class="text-center">Password inválido!</h1> -->
<!-- <p class="text-center">Verifica si escribiste correctamente y vuelva a intentarlo.</p>  -->




<div class="wrapper-content">
    <div class="box-tile">
        <!-- <b class="tag">#</b> -->
        <!-- <h1><b class="tag">#</b>Bank of Banks</h1>
        <h2>Toda la información de tus bancos en un solo click</h2>
        <h1 class="typing-element"></h1> -->
    </div>
    <div class="not-register"></div>
</div>