<div class="wrapper-content">
    <div class="box-tile">
        <!-- <b class="tag">#</b> -->
        <h1><b class="tag">#</b>Bank of Banks</h1>
        <!-- <h2><b class="tag"></b>Toda la información de tus bancos en un solo click</h2> -->
        <h2>Toda la información de tus bancos en un solo click</h2>
        <h1 class="typing-element"></h1>
        <!-- <button class="btn btn-home-cadastro-clientes" (click)="gotoCadastroClientes()">Crea su cuenta</button> -->
        <button class="btn btn-home-registro-clientes" (click)="gotoCadastroClientes()">Crea su cuenta</button>
    </div>

    <div class="bg_img"></div>
</div>