<!-- <div class="wrapper-content">
    <h1>Usted no tiene acceso a esta página,por favor registrese</h1>

    <button (click)='navegarParaRegistro()'>Realizar registro</button>
    <button (onclick)='navegarParaRegistro()'>Realizar registro</button>
</div> -->

<div class="wrapper-content">
    <div class="box-tile">
        <!-- <b class="tag">#</b> -->
        <!-- <h1><b class="tag">#</b>Bank of Banks</h1>
        <h2>Toda la información de tus bancos en un solo click</h2>
        <h1 class="typing-element"></h1> -->
    </div>

    <div class="bg_img3"></div>
</div>