<div class="wrapper">
    <div class="topicos">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <ul class="topicos-footer">
                        <h6>Bank of Banks</h6>
                        <li>Quienes somos</li>
                        <li>Nuestros servicios</li>
                        <li>Trabaja con nosotros</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="topicos-footer">
                        <h6>Para ti</h6>
                        <li>Abra su cuenta</li>
                        <li>Tarjetas</li>
                        <li>Créditos</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="topicos-footer">
                        <h6>Segmentos</h6>
                        <li>Préstamos</li>
                        <li>Seguros </li>
                        <li>Fondos de inversión</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="rodape">
        <p class="text-center">&copy; Todos los Derechos reservados a
            <b>Bank of Banks</b>
        </p>
    </footer>
</div>