<div class="container">
    <div class="row box-registro">
        <div class="col-12">
            <h3 class="text-center">Usted está a un clic de crear su cuenta en Bank of Banks</h3>
            <form class="mt-5" (ngSubmit)="registro()" [formGroup]="formRegistro">
                <div class="form-group">
                    <input type="text" class="form-control registro" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Nombre" formControlName="nombre">
                </div>
                <div class="form-group">
                    <input type="string" class="form-control registro" id="exampleInputPassword1" placeholder="DNI"
                        formControlName="dni">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control registro" id="exampleInputPassword1" placeholder="E-mail"
                        formControlName="email">
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control registro" id="exampleInputPassword1" placeholder="Telefono"
                        formControlName="telefono">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control registro" id="exampleInputPassword1" placeholder="Direccion"
                        formControlName="direccion">
                </div>
                <button type="submit" class="btn btn-registro btn-lg">Registrar</button>
            </form>
        </div>
    </div>
</div>